<header>
    <div class="header-nav">
      <a href="/">Period Checker</a> 
      <p>ようこそ、<%= locals.username %>さん</p>
      <ul>
        <li><a href="/logout">ログアウト</a></li>
        <li><a href="/login">ログイン</a></li>
      </ul>
    </div>
  </header>