<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <!-- CSSファイルを読み込んでください -->
    <link rel="stylesheet" href="/css/calendar.css">

        
    <script>
const week = ["日", "月", "火", "水", "木", "金", "土"];
const today = new Date();
// 月末だとずれる可能性があるため、1日固定で取得
var showDate = new Date(today.getFullYear(), today.getMonth(), 1);

// 初期表示
window.onload = function () {
    showProcess(today, calendar);
};
// 前の月表示
function prev(){
    showDate.setMonth(showDate.getMonth() - 1);
    showProcess(showDate);
}

// 次の月表示
function next(){
    showDate.setMonth(showDate.getMonth() + 1);
    showProcess(showDate);
}

// カレンダー表示
function showProcess(date) {
    var year = date.getFullYear();
    var month = date.getMonth();
    document.querySelector('#header').innerHTML = year + "年 " + (month + 1) + "月";

    var calendar = createProcess(year, month);
    document.querySelector('#calendar').innerHTML = calendar;
}

// カレンダー作成
function createProcess(year, month) {
    // 曜日
    var calendar = "<table><tr class='dayOfWeek'>";
    for (var i = 0; i < week.length; i++) {
        calendar += "<th>" + week[i] + "</th>";
    }
    calendar += "</tr>";

    var count = 0;
    var startDayOfWeek = new Date(year, month, 1).getDay();
    var endDate = new Date(year, month + 1, 0).getDate();
    var lastMonthEndDate = new Date(year, month, 0).getDate();
    var row = Math.ceil((startDayOfWeek + endDate) / week.length);

    // 1行ずつ設定
    for (var i = 0; i < row; i++) {
        calendar += "<tr>";
        // 1colum単位で設定
        for (var j = 0; j < week.length; j++) {
            if (i == 0 && j < startDayOfWeek) {
                // 1行目で1日まで先月の日付を設定
                calendar += "<td class='disabled'>" + (lastMonthEndDate - startDayOfWeek + j + 1) + "</td>";
            } else if (count >= endDate) {
                // 最終行で最終日以降、翌月の日付を設定
                count++;
                calendar += "<td class='disabled'>" + (count - endDate) + "</td>";
            } else {
                // 当月の日付を曜日に照らし合わせて設定
                count++;
                if(year == today.getFullYear()
                  && month == (today.getMonth())
                  && count == today.getDate()){
                    calendar += "<td class='today'>" + count + "</td>";
                } else {
                    calendar += "<td>" + count + "</td>";
                }
            }
        }
        calendar += "</tr>";
    }
    return calendar;
}
    </script>
  </head>

  <body>
    <header>
      <div class="header">
        <a href="/" class="header-logo">Period Checker</a>
        <p class="welcome-message">ようこそ、<%= locals.username %>さん</p>
        <div class="header-list">
          <ul>
            <li><a href="/login" class="btn btn--login btn--radius" id="login">ログイン</a></li>
            <li><a href="/louout" class="btn btn--logout btn--radius" id="logout">ログアウト</a></li>
            <li><a href="/signup" class="btn btn--signup btn--radius" id="signup">新規登録</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="function">
      <div class="date">
        <p class="expected-date">次の生理予定日</p>
        <div class="date-display">3&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;18&nbsp;&nbsp;日</div>
      </div>

      <div class="record">
        <p class="easy-record">かんたん記録</p>
        <div class="easy-record-button">
          <div class="blue-buttons">
            <button class="buttons" id="end" type="button">終了</button>
            <button class="buttons" id="start" type="button">開始</button>
          </div>
          <div class="green-buttons">
            <button class="buttons" id="share" type="button">シェア</button>
            <button class="buttons" id="physical-condition-record" type="button">体調記録</button>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <!-- xxxx年xx月を表示 -->
      <h1 id="header"></h1>

      <!-- ボタンクリックで月移動 -->
      <div id="next-prev-button">
        <button id="prev" onclick="prev()"></button>
        <button id="next" onclick="next()"></button>
      </div>

      <!-- カレンダー -->
      <div id="calendar">
        <script src="/js/calendar.js"></script>
      </div>
    </div>
  </body>
</html>