<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Period Checker</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <div class="header">
          <h1><a href="/" class="header-logo">Period Checker</a></h1>
        </div>
          <div class="panel">
          <h2 class="login-text">ログイン</h2>
          <form action="/login" method="post">
            <p class="mail-address-text">メールアドレス</p>
            <input type="text" name="email" class="mail-address-type">
            <p class="password-text">パスワード</p>
            <input type="password" name="password" class="password-type">
            <input type="submit" value="ログイン" class="login-button">
            <a href="/" class="back">トップにもどる</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>