@charset "utf-8";

/*全体*/
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    color: #064025;
    background-color: #A7D9D0;
}
#header {
    text-align: center;
    font-size: 26px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
    background-color: #F2F1E9;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    height: 425px;
}
th {
    color: #064025;
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
}
/*日曜日*/
td:first-child {
    color: #D11C2C;
}
/*土曜日*/
td:last-child {
    color: #4682B4;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #A7D9D0;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #064025;
    border-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#prev {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 30px solid #064025;
    border-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}

/*メッセージ*/
.message{
  font-size: 18px;
}

/*リスト*/
li{
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

ul{
  display: flex;
}

/*ヘッダー*/
.header{
  background-color: #064025;
  display: flex;
  height: 70px;
  padding-top: 10px;
}

.header-list{
  margin-left: 700px;
  margin-top: -15px;
}

#login{
  text-decoration: none;
  color: #F2F1E9;
}
#logout{
  text-decoration: none;
  color: #F2F1E9;
}
#signup{
  text-decoration: none;
  color: #F2F1E9;
}

/*ヘッダーロゴ*/
.header-logo{
    font-family: "sans-serif";
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #A7D9D0;
    float: left;
    padding-left: 20px;
    white-space: nowrap;
}

/*ボディー*/
body{
  margin: 0px;
  background-color: #A7D9D0;
}

.function{
  display: flex;
}

.expected-date{
  margin-left: 265px;
}

.date-display{
  background: #F2F1E9;
  border: #F2F1E9;
  color: #064025;
  font-size: 25px;
  font-weight: bold;
  height: 40px;
  width: 300px;
  border-radius: 100vh;
  margin-left: 265px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 75px;
}

.record{
  margin-left: 200px;
}

.buttons{
  width: 50%;
  color: #F2F1E9;
  border: none;
  float:right;
  border-radius: 100vh;
}

.easy-record-button{
  display: flex;
}

#start{
  background-color: #79A637;
  height: 20px;
  width: 150px;
}
#end{
  background-color: #79A637;
  height: 20px;
  width: 150px;
}
#physical-condition-record{
  background-color: #5190A4;
  height: 20px;
  width: 150px;
}
#share{
  background-color: #5190A4;
  height: 20px;
  width: 150px;
}